.formCreate{
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color:#00494A ;
    color: white;
    min-width: 350px;
    max-width: 500px;
    margin: auto ;
>input{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

}

.editCreate{ 
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color:#00494A ;
    color: white;
    min-width: 350px;
    max-width: 500px;
    margin: auto ;
>input{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}
}
.listaTalleres{
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 10rem;
    max-width: 30rem;
}

.nivelTaller{
  display: flex; 
  justify-content: space-between; 
  padding: 1rem;
  border: 2px solid grey;
}

.contenedorNivelesTalleres{
    display: flex;
    flex-direction: column;

}