 .footerSection {
   /* background-color: #fed2c0;
    color:black;   */
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    /* padding-left: 5rem; */

} 

.footerPageConteiner {
    bottom: 0px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    background-color: #fed2c0;
    color:black;
    justify-content: space-between;
    align-items: center;
    /* width: 100%;     */
    padding: 6rem;
    
}

.footerLinksBox{
    display: flex;
    text-align: left;
    gap: 10rem;
    flex-wrap: wrap;
    
}

.socialMediaLogos {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 2rem;
}

.footerB{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1rem ;
    background-color: #000;
    color: white;
    

    
}
@media (max-width: 766px) {
    .footerLinksBox{
        gap: 1rem
    }
    .footerB{
        flex-direction: column;
    }
    

    
}

/* @media screen and (max-width: 767px) {

    webkit-box-direction: normal;
    max-width: 767px; 
} */